html{
    width: 100%;
    min-height: 100%
}

body{

	 width: 100%;
    min-height: 100%
	display:-webkit-box;
	-webkit-box-orient: vertical;
	font-family: cambria;
	margin: 0px;
}

#top_bar{

	display:-webkit-box;
	-webkit-box-orient: horizontal;
	width:100%;
	height: 50px;
	background: #95d788;
        background-image: -webkit-linear-gradient(#AAD6EF, #81C7EF);
        background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #81C7EF),color-stop(1, #AAD6EF));
}

#top_bar img{
	position: absolute;
	top:10px;
	left:10px;
	width:45px;
	height:30px;
}

#main_wrapper{

	display:-webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-flex: 1;
	border:1px solid green;
	height: 655px;
}

#nav_drop{

	display:-webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #D9DBD5;
	border:1px solid black;
}

/*
#inner{

	border: 1px solid black;
	-webkit-border-radius: 20px;
    border-radius: 20px;
    height:610px;
    background-color: white;
}
*/
#main_sub{

	display:-webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 3;
	border:1px solid black;
}

#top_main{


}

#main_content{


}