html{
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
} 

body{

	max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
	display:-webkit-box;
	-webkit-box-orient: vertical;
	font-family: cambria;
	margin: 0px;
	
	overflow-y: hidden;
}

#top_bar{

	display:-webkit-box;
	-webkit-box-orient: horizontal;
	border-bottom: 1px solid black;
	width:100%;
	height: 50px;
	background: #95d788;
        background-image: -webkit-linear-gradient(#AAD6EF, #81C7EF);
        background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #81C7EF),color-stop(1, #AAD6EF));
        box-shadow: 1px 1px 1px #888888;
}

#logout{

	position: absolute;
	text-decoration: none;
	font-family: helvetica;
	font-weight: bold;
	color: gray;
	font-size: 22px;
	left:90%;
	bottom: 91.5%	

}

#logout:hover{

	color: black;
}

/*empieza css de las paginas de jose (forgot.html, index.html)*/

#login{  	
position: relative;  	
text-decoration: none;
font-family: arial;
color: black;
font-size: 22px;
margin-left: 15%;
margin-top: 30%;  
}

#recovery {

position: relative;	  	
text-decoration: none;	  	
margin-left: 15%;
	  	

}	  	

	  	
#forgotinst {
	  	
position: relative;
	  	
text-decoration: none;	  	
font-family: arial;	  	
color: black;	  	
font-size: 18px;
 margin-left: 5%;	  	
margin-right: 5%;
	  	
margin-top: 30%;
	  	
text-align: justify;
	  	
}
  	
 	
#rec_email{
	  	
position: relative;	  	
text-decoration: none;	  	
font-family: arial;
	  	
color: black;
	  	
font-size: 22px;
margin-left: 15%;	  	
margin-top: 2%;  
}

#placeholder{  	
position: relative;  	
text-decoration: none;
font-family: helvetica;
color: black;  	
font-size: 18px;	  	
 text-align: center;	  	
}

/* Termina lo de Jose */

#main_wrapper{

	display:-webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-flex: 1;
	max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
	overflow-y:hidden;
}

#nav_drop{
	position: relative;
	display:-webkit-box;
	-webkit-box-orient: vertical;
	width: 25%;
	overflow-y:scroll;
	background-color: #D9DBD5;
	border-left:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
	box-shadow: 1px 1px 1px #888888;
}

#nav_drop a{

	text-decoration: none;
}

.title{

	height: 30px;
	width: 100%;
	margin: auto;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #00A3F0 0%, #006A9C 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #00A3F0 0%, #006A9C 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #00A3F0 0%, #006A9C 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00A3F0), color-stop(1, #006A9C));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #00A3F0 0%, #006A9C 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #00A3F0 0%, #006A9C 100%);

	
}

#grading{

	text-align: center;
	margin:5px;
	margin-bottom:10px; 


}

#grading thead{
		border: 3px solid #81C7EF;
		background: #95d788;
        background-image: -webkit-linear-gradient(#AAD6EF, #81C7EF);
        background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #81C7EF),color-stop(1, #AAD6EF));

}

#grading thead p{

	margin-top: 7px;
	font-weight: bold;
	font-family: helvetica;
	font-size: 16px;

}

#grading p{

	margin-top: 5px;
}

#grading tfoot{

	border: 1px solid white;
	margin-top: 5px;
}

#grading tbody td{

	border: 3px solid #81C7EF;
}


#grading td{

	padding: 10px;
	
}

.styled-select{

	width: 60px;
}

.title p{

	margin: 0px;
	height: 25px;
	font-family: helvetica;
	text-align: left;
	padding-top: 5.5px;
	padding-left: 5px;
	opacity: .9;
	color: white;
}

.secction{

	display:-webkit-box;
	-webkit-box-orient: horizontal;
	display:-moz-box;
	-moz-box-orient: horizontal;
	height: 50px;
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #D9DBD5;

}

.secction p{
	position: relative;
	margin: 0px;
	height: 25px;
	font-size: 18px;
	font-family: helvetica;
	text-align: left;
	padding-top: 13px;
	padding-left: 10px;
	color: black;
}


.secction img{

	position: relative;
	top:10px;
	left:5px;
	width:30px;
	height:27px;

}

.secction1{

	display:-webkit-box;
	-webkit-box-orient: vertical;
	display:-moz-box;
	-moz-box-orient: vertical;
	background-color: #CECEDE;

}

.secction1 ul{

	list-style: none;
	padding: 0px;
	margin: 0px;
}

.secction1 li{

	margin: 0px;
}

.secction2{

	display:-webkit-box;
	-webkit-box-orient: horizontal;
	display:-moz-box;
	-moz-box-orient: horizontal;
	height: 50px;
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: gray;

}

.secction2 p{
	position: relative;
	margin: 0px;
	height: 25px;
	font-size: 18px;
	font-family: helvetica;
	text-align: left;
	padding-top: 13px;
	padding-left: 10px;
	color: black;
}


.secction2 img{

	position: relative;
	top:10px;
	left:5px;
	width:30px;
	height:27px;

}
#profile{

	display:-webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-flex: 1;

	display:-moz-box;
	-moz-box-orient: horizontal;
	-moz-box-flex: 1;
}

#profile img{

	position: relative;
	top:5px;
	left:5px;
	width:40px;
	height:35px;
}
#major{

	display:-webkit-box;
	-webkit-box-flex: 10;
	
	display:-moz-box;
	-moz-box-flex: 10;

}


#profile p{

	margin:0px;
}

#menu{

	display:-webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 50;
	border:1px solid green;
	margin-right: 5px;
	margin-left: 5px;

	display:-moz-box;
	-moz-box-orient: vertical;
	-moz-box-flex: 50;
}

/*
#inner{

	border: 1px solid black;
	-webkit-border-radius: 20px;
    border-radius: 20px;
    height:610px;
    background-color: white;
}
*/
#main_sub{

	display:-webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
		border:1px solid black;
		/*overflow-y:scroll;*/
		
	display:-moz-box;
	-moz-box-orient: vertical;
	-moz-box-flex: 1;
}

#top_main{
display:-webkit-box;
	-webkit-box-orient: horizontal;
	width:100%;
	height: 50px;

display:-moz-box;
	-moz-box-orient: horizontal;

}

#top_main img{
	position: relative;
	top:10px;
	left:10px;
	width:45px;
	height:30px;
	opacity: .4;
}

#top_main img:hover{
	opacity: 1;
}

#main_content{
display:-webkit-box;
	-webkit-box-orient: vertical;
	width: 100%;

	display:-moz-box;
	-moz-box-orient: vertical;
}

#addactivity{

	display:-webkit-box;
	-webkit-box-orient: horizontal;

	display:-moz-box;
	-moz-box-orient: horizontal;
}

.add{

	margin-left: 13px;
}

.tab{
   position:relative;
   width:265px;
   height: 170px;
}
.tab .iframe_overlay{
    position:absolute;
    z-index:95;
    left:0;top:0;
    height:100%;width:100%;
    background:#fff;
    opacity:0;
}
.tab iframe{
    position:relative;
    -webkit-transform: scale(0.3, 0.29);
    -moz-transform: scale(0.3, 0.29);
    transform: scale(0.3, 0.29);
    -moz-transform-origin:0 0;
    -webkit-transform-origin:0 0;
    transform-origin:0 0;
  
    z-index:90;
}

 iframe{

width: 884px;
 height: 591px;

}

#content{

	width: 100%;
	height: 100%;
	padding-right: 10px;

overflow-x:scroll;
}

#rubrica {
margin: 10px;
	text-align: center;
	border:1px solid blue;
}

#rubrica tr td{


border:1px solid blue;
padding-top: 50px;
padding-bottom: 50px;
padding-right: 60px;
padding-left: 60px; 
}

#thumb0 {
	text-align: center;
}


#checkboxes input{
	float: left;
}